// Colors
$color1: #ffffff;
$color2: #0EABEB;
$color3: #718EBF;
$color4: #818194;
$color5: #4F4F4F;
$color6: #A7A7A7;
$color7: #D9D9D9;
$color8: #F4F4F4;
$color9: #F6F8FB;
$color10: #141414;
$color11: #39973D;
$color12: #E11D29;
$color13: #5678E9;
$color14: #FFC313;
$color15: #030229;
$color16: #202224;
$color17: #D3D3D3;
$color18: #667080;

$linear-gradient-bg: linear-gradient(107.38deg, #4C49ED 2.61%, #0A06F4 101.2%);
$linear-gradient-bg-2: linear-gradient(90deg, #0EABEB 0%, rgba(14, 171, 235, 0) 91.25%);
$linear-gradient-bg-3: linear-gradient(90deg, #0EABEB 0%, rgba(10, 186, 181, 0) 91.25%);
$linear-gradient-bg-4: linear-gradient(107.38deg, #4C49ED 2.61%, #020067 101.2%);



// Fonts
$Lato: "Lato";