@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-scroll::-webkit-scrollbar {
  height: 4px; /* Decrease the height (thickness) of the scrollbar */
  width: 4px; /* Decrease the height (thickness) of the scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* Transparent background for the scrollbar track */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #b3b3b3; /* Black color for the scroll thumb */
  border-radius: 10px; /* Rounded corners for the scroll thumb */
}

/* Custom class to hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none !important; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none !important; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none !important; /* Hide scrollbar for Firefox */
}
/* CSS for Active and Inactive Rows */
.active-row {
  background-color: #ffffff; /* White background for active rows */
  border: 1px solid #e5e7eb; /* Light gray border */
}

.inactive-row {
  background-color: #f9fafb; /* Light gray background for inactive rows */
  border: 1px dashed #d1d5db; /* Dashed light gray border */
  color: #9ca3af; /* Light gray text color */
}

.input-field {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.input-field:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.input-field.active {
  background-color: #ffffff;
}

.input-field.inactive {
  background-color: #f9fafb;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}
.input-field:focus {
  border-color: #4a90e2;
}
